@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var json = session.GetString("Donor");
    if (json != null)
    {
        var donor = JsonConvert.DeserializeObject<DonorModel>(json);
    }
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content=" Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/webuser/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/webuser/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
           <h3>Give bloob</h3>
        </div>
       
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>

               <li>
                    <a href="#">Looking For Bloob</a>
                    <ul class="header__menu__dropdown">
                        <li><a asp-action="RequestToDonor" asp-controller="BloodSeek">Find Donor</a></li>
                        <li><a asp-action="RequestToBloodBank" asp-controller="BloodSeek">Find Blood Bank</a></li>

                    </ul>
                </li>
               <li>
                   <a href="#">Want To Donate Blood</a>
                   <ul class="header__menu__dropdown">
                       <li><a asp-action="DonateToBloodBank" asp-controller="DonateBlood">Find Blood Bank</a></li>
                     
                       @if (json == null)
                       {
                           <li><a asp-action="Register" asp-controller="DonateBlood">Donor Register</a></li>
                       }
                      
                       </ul>
               </li>
             
               
                @if (json != null)
                {
                    <li>
                        <a href="#">Account</a>
                        <ul class="header__menu__dropdown" style="width:200px;">
                            <li><a asp-action="Index" asp-controller="DonorAccount">My Profile</a></li>
                            <li><a asp-action="MyRequest" asp-controller="DonorAccount">Blood Requests</a></li>
                            <li><a asp-action="RequestHistory" asp-controller="DonorAccount"> Requests History</a></li>
                            <li><a asp-action="MyDonation" asp-controller="DonorAccount">Donation Requests</a></li>
                            <li><a asp-action="MobiLink" asp-controller="DonorAccount">MobiLink notification</a></li>
                            <li><a asp-action="Logout" asp-controller="Login">Log Out</a></li>
                        </ul>
                    </li>
                }
                else
                {

                    <li>
                        <a asp-action="Index" asp-controller="Login" asp-route-returnUrl="@Context.Request.Path"> Login</a>
                    </li>
                }

            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
     
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                         
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo pb-0">
                      <h3 style="font-weight:bold;"><a asp-controller="Home" asp-action="Index" style="color:#C92626;padding-top:5px">Give bloob</a></h3>  
                    </div>
                </div>
              
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>
                                <a href="#">Looking For Bloob</a>
                                <ul class="header__menu__dropdown">
                                    <li><a asp-action="RequestToDonor" asp-controller="BloodSeek">Find Donor</a></li>
                                    <li><a asp-action="RequestToBloodBank" asp-controller="BloodSeek">Find Blood Bank</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Want To Donate Blood</a>
                                <ul class="header__menu__dropdown">
                                    <li><a asp-action="DonateToBloodBank" asp-controller="DonateBlood">Find Blood Bank</a></li>
                                    @if (json == null)
                                    {
                                        <li><a asp-action="Register" asp-controller="DonateBlood">Donor Register</a></li>
                                    }
                                </ul>
                            </li>
                          
                            
                            @if (json != null)
                            {
                                <li>
                                    <a href="#">Account</a>
                                    <ul class="header__menu__dropdown" style="width:200px;">
                                        <li><a asp-action="Index" asp-controller="DonorAccount">My Profile</a></li>
                                        <li><a asp-action="MyRequest" asp-controller="DonorAccount">Blood Requests</a></li>
                                        <li><a asp-action="RequestHistory" asp-controller="DonorAccount"> Requests History</a></li>
                                        <li><a asp-action="MyDonation" asp-controller="DonorAccount">Donation Requests</a></li>
                                        <li><a asp-action="MobiLink" asp-controller="DonorAccount">MobiLink notification</a></li>
                                        <li><a asp-action="Logout" asp-controller="Login">Log Out</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Login" asp-route-returnUrl="@Context.Request.Path"> Login</a>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <h3 style="font-weight:bold;"><a asp-controller="Home" asp-action="Index" style="color:#C92626;padding-top:5px">Give bloob</a></h3>
                        </div>
                        <ul>
                            <li>Address: HTC, 250 Hoang Quoc Viet, Co Nhue, Cau Giay, Ha Noi</li>
                            <li>Phone: 024 3755 4010</li>
                            <li>Email: bkapvn@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14894.634653165434!2d105.7835009!3d21.0463395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c9e359e2a4f618c!2sB%C3%A1ch%20Khoa%20Aptech!5e0!3m2!1svi!2s!4v1674180296821!5m2!1svi!2s" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Contact Us</h6>
                       
                        <form action="#">

                            <input type="text" class="mb-2" placeholder="Enter your mail"/>
                          
                            <textarea type="text"  placeholder="Enter your message" rows="3" style="width:100%;border:1px solid #ededed;padding:1rem;"></textarea>
                            <button class="btn btn-danger p-2 pl-4 pr-4 mt-3" style="position:relative">SEND</button>
                        </form>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/webuser/js/jquery-3.3.1.min.js"></script>
    <script src="~/webuser/js/bootstrap.min.js"></script>

    <script src="~/webuser/js/jquery-ui.min.js"></script>
    <script src="~/webuser/js/jquery.slicknav.js"></script>
    <script src="~/webuser/js/mixitup.min.js"></script>
    <script src="~/webuser/js/owl.carousel.min.js"></script>
    <script src="~/webuser/js/main.js"></script>



</body>

</html>