@model Client.Models.District

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<hr />
<h4 style="text-align:center;">Add new district</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="districtId" class="control-label"></label>
                    <input asp-for="districtId" class="form-control" />
                    <span asp-validation-for="districtId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="districtName" class="control-label"></label>
                <input asp-for="districtName" class="form-control" />
                <span asp-validation-for="districtName" class="text-danger"></span>
                <span class="text-danger">
                    @TempData["err"]
                </span>
            </div>
            @*<div class="form-group">
                    <label asp-for="create_at" class="control-label"></label>
                    <input asp-for="create_at" class="form-control" />
                    <span asp-validation-for="create_at" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="update_at" class="control-label"></label>
                    <input asp-for="update_at" class="form-control" />
                    <span asp-validation-for="update_at" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label class="control-label">City</label>
                <select asp-for="cityId" asp-items="@ViewBag.city" class="form-control"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-success">Back to list</a>

</div>

