@model Client.Models.BloodBank

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<hr />
<h4 style="text-align:center;">Add new Blood bank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="bbId" class="control-label"></label>
                    <input asp-for="bbId" class="form-control" />
                    <span asp-validation-for="bbId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="bbName" class="control-label"></label>
                <input asp-for="bbName" class="form-control" />
                <span asp-validation-for="bbName" class="text-danger"></span>
                <span class="text-danger">
                    @TempData["err"]
                </span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calendar" class="control-label"></label>
                <input asp-for="calendar" class="form-control" />
                <span asp-validation-for="calendar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hotline" class="control-label"></label>
                <input asp-for="hotline" class="form-control" />
                <span asp-validation-for="hotline" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="create_at" class="control-label"></label>
                    <input asp-for="create_at" class="form-control" />
                    <span asp-validation-for="create_at" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="update_at" class="control-label"></label>
                    <input asp-for="update_at" class="form-control" />
                    <span asp-validation-for="update_at" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="districtId" class="control-label"></label>
                <select asp-for="districtId" asp-items="@ViewBag.district" class="form-control"></select>

                <span asp-validation-for="districtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

