
@{
    ViewData["Title"] = "Success";
}
<section>
    <div class="container  mb-3 ">
        <hr />
        <div class="row mt-3">
            <div class="col-12">
                <h3 class="text-center">@ViewBag.Ok</h3>
            </div>
            
            <a asp-controller="Home" asp-action="Index" class="btn btn-success mt-3" style="margin:auto;">Back To Home</a>
        </div>
    </div>
</section>

